// Colors
$primary-font-color: #222628;
$secondary-font-color: #6d717a;
$background-calendar: #F4F4F4;
$icon-bell: #fbcb43;
$link-color: #6d717a;
$background-body-color: #f9f9f9;
$white: #fff;
$add-workout: #16D374;
$add-workout-active: rgb(15, 147, 81);

// Gradient logo
$primary-gradient-color: #3bc398;
$secondary-gradient-color: #0d3158;

// Shadows
$shadow-light: 0 0 20px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 0 15px rgba(0, 0, 0, 0.2);

//FONTS (family, weight)
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
