@import '../../../styles/mixins';

.navigation {
  display: flex;
  align-items: center;

  &__item {
    margin-left: 4.5rem;
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: 600;

    @include mobile() {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    a {
      display: block;
      width: 100%;
      padding: 2.5rem 0;
      color: #a5a5a5;

      &:hover {
        color: #000;
      }
    }
  }
}
